<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desktops</title>
    <link rel="stylesheet" href="style.css">
</head>

{% extends "layout.html" %}

{% block content %}

<div class="row" id="products_page">
    <div class="col-md-12">
        <h3>Desktop Order</h3>
        <hr>
        <div class="row">
            <a href="/Graphics" class="btn btn-primary" id="Graphic_button">Better Graphics</a>
            <a href="/CPU" class="btn btn-primary" id="CPU_button">Better CPU</a>
            <a href="/Ram" class="btn btn-primary" id="Ram_button">Better Ram</a>
            <li class="image"><img src="../static/images/apple.jpeg"></li>
            <p>$100000</p>
        </div>
    </div>
</div>
{% endblock %}