<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laptops</title>
    <link rel="stylesheet" href="style.css">
</head>

{% extends "layout.html" %}

{% block content %}

<div class="row" id="products_page">
    <div class="col-md-12">
        <h3>Laptop Order</h3>
        <hr>
        <div class="row">
            <img src="orange.jpeg" alt="Image description">
            <p>$100000</p>
        </div>
    </div>
</div>
{% endblock %}