<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitors</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

{% extends "layout.html" %}

{% block content %}

<div class="row" id="products_page">
    <div class="col-md-12">
        <h3>Monitor Order</h3>
        <hr>
        <div class="row">
            <a href="/small" class="btn btn-primary" id="Graphic_button">Small Monitor</a>
            <a href="/medium" class="btn btn-primary" id="CPU_button">Medium Monitor</a>
            <a href="/large" class="btn btn-primary" id="Ram_button">Large Monitor</a>
            <p>$100000</p>
        </div>
    </div>
</div>
{% endblock %}